body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('res/menu-back.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow-y: hidden;
}

.wave-container {
    position: relative;
    height: 80%;
    min-height: 600px;
    background-image: url('res/menu-wave.png');
    background-size: cover;
    background-position: center;
    opacity: 0.7;
    overflow: hidden;
    z-index: 1;
}

.menu-panel {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.panel-content {
    position: absolute;
    display: block;
    margin: 100px 0 0 0;
    left: 50%;
    transform: translate(-50%, -50%); 
    color: white;
    padding: 40px;
    text-align: center;
    width: 100%;
    z-index: 2;
}

.panel-content h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.panel-content p {
    font-size: 18px;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

.start-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 12px 30px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.start-button:hover {
    background-color: #0056b3;
}  

.grade-panel {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    z-index: 3;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.grade-content {
    text-align: center;
    align-items: center;
    color: white;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding: 20px;
}

.grade-content::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.grade-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 4;
}

.grade-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 15px 60px;
    font-size: 18px;
    border-radius: 5px;
    margin: 10px 0;
    cursor: pointer;
    width: 80%;
    max-width: 300px;
}

.grade-button:hover {
    background-color: #218838;
}

footer {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 3;
}